.title {
  font-size: 40px;
}

.form {
  display: inline-block;
  width: 50%;
}

.inputs {
  margin-left: 280px;
}

.btn {
  border: 2px solid #bfbfbf;
  height: 40px;
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
}

.form__label {
  position: absolute;
  font-weight: 700;
  font-size: 25px;
}

.form__input,
.form__dropdown {
  display: block;
  position: relative;
  right: 8px;
  height: 40px;
  border: 2px solid #bfbfbf;
  margin: 0 8px 8px;
  font-size: 18px;
  padding: 5px;
  color: #505050;
}

.address .form__input-label {
  margin-bottom: 35px;
}

.number-dash {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  margin-top: 10px;
}

.form__input--first-name,
.form__input--postal-zip {
  width: 180px;
}

.form__input--last-name {
  width: 250px;
}

.form__input--area-code {
  width: 120px;
}

.form__input--phone-number {
  width: 210px;
}

.form__input--email {
  display: inline-block;
  width: 475px;
}

.form__input--company {
  width: 330px;
}

.form__input--street-address {
  width: 585px;
}

.form__input--city,
.form__input--state-province {
  width: 280px;
}

.form-group {
  padding-top: 55px;
}

.form__input-label {
  display: inline-block;
  color: #bfbfbf;
  font-size: 18px;
}

.form__add-email-btn {
  background-color: transparent;
  border: none;
  color: #FF0000;
  font-size: 20px;
  cursor: pointer;
}

.form__dropdown {
  width: 280px;
}

.form-results {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

.input-required {
  color: #FF0000;
}
