
<h1 class="title">Create Your Customer Profile:</h1>
<hr>
<form #userForm="ngForm" class="form" [formGroup]="form" (ngSubmit)="onSubmit(userForm.value)">
  <div class="form-group">
    <label class="form__label" for="">Full Name: <span class="input-required">*</span></label>
    <input class="form__input" type="text" name="" formControlName="firstName">
    <p class="form__input-label">First Name</p>
    <input class="form__input" type="text" name="" formControlName="lastName">
    <p class="form__input-label">Last Name</p>
  </div>

  <div class="form-group">
    <label class="form__label" for="">Phone Number: <span class="input-required">*</span></label>
    <input class="form__input" type="text" name="" formControlName="areaCode">
    <p class="form__input-label">Area Code</p>
    <input class="form__input" type="text" name="" formControlName="phoneNumber">
    <p class="form__input-label">Phone Number</p>
  </div>

  <div class="form-group">
    <label class="form__label" for="">Email Address: <span class="input-required">*</span></label>
    <!-- <input class="form__input" type="email" name=""> -->

    <div 
      class="form-emails" 
      formArrayName="emailAddresses" 
      *ngFor="let email of emailAddresses.controls; let i = index"
    >
      <!-- <div formGroupName="i"> -->
        <input type="email" class="form__input" [name]="'email' + i" formControlName="i"
              [id]="'email' + i">
        <button class="form__remove-input-btn" (click)="deleteEmail(i)" type="button">X</button>
      <!-- </div> -->
    </div>

  </div>
  <button class="form__add-email-btn" (click)="addEmail()" type="button">+ add email</button>

  <!-- <fieldset formArrayName="additionalEmails"> -->
    <!-- <legend>Email aliases</legend> -->

    <!-- <div class="input-group" *ngFor="let email of additionalEmails.controls; let i = index">
      <input type="email" class="form-control" [name]="'email' + i" formControlName="i"
             [id]="'email' + i">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="deleteEmail(i)" type="button">X</button>
      </div>
    </div>

    <button type="button" (click)="addEmail()" class="btn btn-link">Add email</button> -->
  <!-- </fieldset> -->

  <div class="form-group">
    <label class="form__label" for="">Company: <span class="input-required">*</span></label>
    <input class="form__input" type="text" name="" formControlName="company">
  </div>

  <div class="form-group">
    <label class="form__label" for="">Address: <span class="input-required">*</span></label>
    <input class="form__input" type="text" name="" formControlName="streetAddress">
    <p class="form__input-label">Street Address</p>
    <input class="form__input" type="text" name="" formControlName="streetAddress2">
    <p class="form__input-label">Street Address Line 2</p>
    <input class="form__input" type="text" name="" formControlName="city">
    <p class="form__input-label">City</p>
    <input class="form__input" type="text" name="" formControlName="stateProvince">
    <p class="form__input-label">State / Province</p>
    <input class="form__input" type="text" name="" formControlName="postalZipCode">
    <p class="form__input-label">Postal / Zip Code</p>
  </div>

  <div class="form-group">
    <select name="" id="" formControlName="country">
      <option *ngFor="let country of countries" [value]="country">
          {{ country }}
      </option>
    </select>
    <p class="form__input-label">Country</p>
  </div>

  <h1></h1>

  <button type="reset" (click)="userForm.resetForm()">Reset</button>
  <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Submit</button>
</form>

<p>{{ formResults | json }}</p>
